body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

header {
    background-color: #1abc9c;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.col-md-6 img {
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-6 h1 {
    font-size: 44px;
    font-weight: 400;
}

.col-md-6 small {
    font-size: 18px;
    color: inherit;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.col-xs-6.col-md-4 img {
    max-width: 100%;
    padding: 5%;
}
