body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section {
    padding-top: 50px;
    padding-bottom: 100px;
}


.boo_navbar {
    /* height: 70px; */
    background-color: #2c3e50;
    border: #2c3e50;
}

.boo_navbar a.navbar-brand,
.boo_navbar .nav li a {
    color: white;
}

.navbar-header a.navbar-brand {
    font-size: 25px;
    font-weight: 700;
}

.navbar-right a {
    font-weight: 700;
}

/* SEZIONE 1 */

#banner {
    color: white;
    margin-top: 50px;
    background-color: #1abc9c;
}

.row_start img {
    max-width: 44%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.row_start h1 {
    font-size: 30px;
    font-weight: 700;
}

.boo_star .glyphicon-star {
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

.boo_star::before,
.boo_star::after {
    content: "";
    width: 10%;
    height: 3px;
    background-color: white;
    border-radius: 1px;
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.row_start h3 {
    font-size: 15px;
    font-weight: 10px;
}

/* SEZIONE 2 */

#portfolio {
    color: #2c3e50;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

.boo_star-portfolio::before,
.boo_star-portfolio::after  {
    background-color: #2c3e50;
}

.boo_card {
    margin-top: 20px;
    margin-bottom: 25px;
    /* padding: 0 20px; */
}

.boo_portfolio-img {
    position: relative;
}

.boo_portfolio-overlay {
    display: none;
}

.boo_portfolio-img:hover .boo_portfolio-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 187, 156, 0.7);
    border-radius: 10px;
}

.boo_portfolio-overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}

/* SEZIONE 3 */

#about {
    background-color: #1abc9c;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#about p {
     padding-top: 30px;
     margin-bottom: 30px;
     font-weight: lighter;
}

.row .btn {
    padding: 17px 20px;
    color: white;
    background-color: #1abc9c;
    border: 2px solid white;
}

.row_about i {
    padding: 0 10px;
}

/* SEZIONE 4 */

#contact {
    color: #2c3e50;
}

.boo_star-contact {
    padding-bottom: 50px;
}

.form-group label {
    font-size: 20px;
    font-weight: 400;
    color: #6c757d;
}

.message {
    height: 200px;
}

.boo_form button {
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 9%;
}

/* FOOTER */

footer {
    background-color: #2c3e50;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

h4 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 0px;
    margin-top: 40px;
}

p {
    font-size: 20px;
}

.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 12px;
    margin: 0 5px;
}

.circle i {
    font-size: 20px;
    line-height: 20px;
}

.container-fluid_copyright {
    height: 90px;
    background-color: #1a252f;
    padding: 40px;
}

small {
    color: white;
}


@media screen and (min-width: 768px) {

    .row_start img {
        max-width: 22%;
    }

    .row_start h1 {
        font-size: 70px;
    }

    .row_start h3 {
        font-size: 20px;
    }

    h2 {
        font-size: 50px;
    }

    h4 {
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {

    h4 {
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {

}
